<dl class="row d-flex">
    <dt class="col-sm-3">Cartas</dt>
    <dd class="col-sm-9">
        Scards es un juego de cartas que resulta muy familiar al tradicional juego de BlackJack incorporando
        pequeños elementos distintivos          
    </dd>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9">
      <p>
      Toma una de las cartas con el botón de Pick Card!. Tomar la primera carta te costará 4 fichas de juego
      </p>
      <p>
      Ve sacando cartas del mazo sin superar el límite o de lo contrario perderás. 
      </p>
      <p>
      Perder en este juego te costará 5 fichas. Al llegar a 0 fichas no podrás jugar más.
      </p>
      <p>
      Mientras vas jugando tus puntos van aumentando acercandose más al límite, para evitar esto tú te puedes retirar de la ronda en cualquier momento y esto no te restará puntos
      </p>
      <p>
      Para ganar puntos debes retirarte de la ronda con una de las siguientes combinaciones
      </p>
    </dd>
    <dt class="col-sm-3">Juego</dt>
    <dd class="col-sm-9">
    </dd>
  </dl>
  
  <dl class="row d-flex">
    <dd class="col-sm-4 container-fluid">
      <div class="wholeCard marginbottom">
        <img src="/2.png" class="img-fluid">
        <img src="/2.png" class="img-fluid">
        <img src="/2.png" class="img-fluid">
        <div class="wholeCard2 marginbottom marginLeftCard">
          <h3>Equivale a 10 fichas</h3>
        </div>
      </div>
      <div class="wholeCard marginbottom">
        <img src="/k.png" class="img-fluid">
        <img src="/k.png" class="img-fluid">
        <img src="/k.png" class="img-fluid">
        <div class="wholeCard2 marginbottom marginLeftCard">
          <h3>Equivale a 17 fichas</h3>
        </div>
      </div>
      <div class="wholeCard marginbottom ">
        <img src="/A.png" class="img-fluid">
        <img src="/A.png" class="img-fluid">
        <img src="/A.png" class="img-fluid">
        <div class="wholeCard2 marginbottom marginLeftCard ">
          <h3>Equivale a 20 fichas</h3>
        </div>
      </div>
      <div class="wholeCard marginbottom">
        <img src="/K.png" class="img-fluid">
        <img src="/K.png" class="img-fluid">
        <img src="/K.png" class="img-fluid">
        <img src="/K.png" class="img-fluid">
        <div class="wholeCard2 marginbottom marginleftCard2">
          <h3>Equivale a 27 fichas</h3>
        </div>
      </div>
      <div class="wholeCard marginbottom">
        <img src="/A.png" class="img-fluid">
        <img src="/A.png" class="img-fluid">
        <img src="/A.png" class="img-fluid">
        <img src="/A.png" class="img-fluid">
        <div class="wholeCard2 marginbottom marginleftCard2">
          <h3>Equivale a 30 fichas</h3>
        </div>
      </div>
      <div class="wholeCard marginbottom">
        <img src="/2.png" class="img-fluid">
        <img src="/2.png" class="img-fluid">
        <img src="/2.png" class="img-fluid">
        <img src="/2.png" class="img-fluid">
        <div class="wholeCard2 marginbottom marginleftCard2">
          <h3>Equivale a 33 fichas</h3>
        </div>
      </div>
    </dd>      
  </dl>
