<section class="row">
    <div class="col-4">
        <img src="/2.png" class="img-fluid" alt="...">
        <div class="container w-100 d-flex align-items-center justify-content-center">
            <div class="row h-25 w-100 bg-light d-flex justify-content-center">
                <blockquote class="blockquote">
                    <p>Cartas numero 2 = 2pts</p>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="col-4">
        <img src="/a.png" class="img-fluid" alt="...">
        <div class="container w-100 d-flex align-items-center justify-content-center">
            <div class="row h-25 w-100 bg-light d-flex justify-content-center">
                <blockquote class="blockquote">
                    <p>Cartas A's = 5pts</p>
                  </blockquote>
            </div>
        </div>
    </div>

    <div class="col-4">
        <img src="/k.png" class="img-fluid" alt="...">
        <div class="container w-100 d-flex align-items-center justify-content-center">
            <div class="row h-25 w-100 bg-light d-flex justify-content-center">
                <blockquote class="blockquote">
                    <p>Cartas K's = 7pts</p>
                  </blockquote>
            </div>
        </div>
    </div>
</section>