<ol class="list-group marginbottom">
<li class="container-fluid d-flex list-group-item justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">Fichas <span id="fichas" class="badge bg-primary rounded-pill">14</span> <section class="imagenes"></section></div>
    </div>
</li>
<li class="container-fluid d-flex list-group-item justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">Puntos acumulados <span id="Puntos" class="badge bg-primary rounded-pill">14</span></div>
    </div>
</li>
<li class=" container-fluid list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
    <div class="fw-bold">Cartas Jugadas <span id="CartasJugadas" class="badge bg-primary rounded-pill">14</span></div>
    </div>      
</li>
<!-- <li class="container-fluid list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
    <div class="fw-bold">null <span class="badge bg-primary rounded-pill">14</span></div>
    </div>
</li> -->
</ol>